.titolo{
   
    background-image: url(../img/pattern.png);
    background-color: darkcyan;
    height: 20%;
    background-size: contain;
    background-repeat: no-repeat;
}
    
.p1 {
    font-family: "Times New Roman", Times, serif;
    line-height: 0em;
}
.p2 {
    font-family: "Times New Roman", Times, serif;
    line-height: 0em;
}
.table-header{
    background-color:darkcyan ;
}
.colounm {
    background-color: aqua;
    
}
.table-row{
    background-color: aqua
}
.footer{
    color: rgba(0, 0, 0, 0.5);
}